<div>
    <img src="{{user-image}}" alt="Photo of the user">
    <h2>{{name}}</h2>
    <select name="code-type" id="code-type"></select>
    <option value="">Choose a specialty:</option>
    <option value="Front-End"></option>
    <option value="Back-end"></option>
</div>
<div>
    <p>Description:
        {{desc}}</p>
</div>
<aside><select name="code-languages" id="code-languages" multiple>
        <option value="">Select your code languages:</option>
        <option value="HTML">HTML</option>
        <option value="CSS">CSS</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Python">Python</option>
        <option value="Java">Java</option>
        <option value="C++">C++</option>
        <option value="Nodejs">Nodejs</option>
        <option value="SQL">SQL</option>
        <option value="Express">Express</option>
        <option value="React">React</option>
        <option value="AI">AI</option>
        
    </select>
</aside>