<div class="signup-container">
    <div class="signup-card">
        <h2 class="signup-header">Signup here!</h2>
        <form class="signup-form">
            <div>
                <label for="username">Username:</label>
                <input type="text" class="form-input" id="username">
            </div>
            <div class="form-data">
                <label for="email">Email:</label>
                <input class="form-input" type="text" id="email" />
            </div>
            <div class="form-data">
                <label for="password">Password:</label>
                <input class="form-input" type="password" id="password" />
            </div>
            <div class="form-data">
                <label for="userType">Are you a Client or Developer?</label>
                <select name="code-languages" id="code-languages" multiple>
                <option value="Client">Client</option>
                <option value="Developer">Developer</option>
            </div>
            <div class="form-data">
                <button class="signup-btn" type="submit">Signup</button>
            </div>
        </form>
    </div>

    <script src="./js/signup.js/"></script>