<div class="signup-container">
    <div class="signup-card">
        <h2 class="signup-header">Signup here!</h2>
        <form class="signup-form">
            <div>
                <label for="username">Username:</label>
                <input type="text" class="form-input" id="signup-username">
            </div>
            <div class="form-data">
                <label for="email">Email:</label>
                <input class="form-input" type="text" id="signup-email" />
            </div>
            <div class="form-data">
                <label for="password">Password:</label>
                <input class="form-input" type="password" id="signup-password" />
            </div>
            <div class="form-data">
                <button class="signup-btn" type="submit">Signup</button>
            </div>
              <div class="form-data">
                <button class="login-btn" id="login">Login</button>
            </div>
        </form>
    </div>