.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    
}


nav a{
    text-decoration: none;
    color: black;
    padding: 2px;

}

nav a:hover, .header-nav a:focus{
    color: grey;
}

main{
    display:flex;
    padding: 20px;
    align-items: flex-start;
    justify-content: space-between;
}

section{
    margin-right: 20px;
}

.dev-search{

}